.product-description p{
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.products-card {
  width: 100px;

 


  margin-right: 0;
  //   margin-bottom: 0;

  .products-card-image {
    width: 100px;
    height: 100px;
  }

  .product-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4px;
    p {
      margin: 0;
      font-size: 12px;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }

   
    @media (min-width: 576px) {
      p {

        font-size: 14px;
      }
    }
  }

  @media (min-width: 576px) {
    width: 180px;
    margin-bottom: 16px;
    // margin-right: 0;
    .products-card-image {
      width: 180px;
      height: 180px;
    }
  }
}

.cart-btn{
  // width: 100%;
  // border-radius: 5px;
  // background-color: inherit;
  border-color: #fce57f;
  font-size: 12px;
  // padding-top: 8px;
  // font-weight: 700;
  // color: rgba(0, 0, 0, 0.772);
  // padding-bottom: 8px;
  visibility: hidden;
}

.product-card-with-btn{
  &:hover{

    .cart-btn{
      visibility: visible;
    }
  }
}