.cart-page-wrapper{
    // margin-left: 250px;
    // width: 75%;
    // margin:  12px;
    // display: flex;
    // justify-content: space-between;
    // overflow: hidden;
    // height: 50vh;
    // min-height: 2vh;
    

    .cart-header{
        display: flex;
        align-items: baseline;
        margin-top: 32px;

        h2{margin-bottom: 0;
            font-size: 32px;
        }

        p{
            padding-left: 8px;
            font-size: 18px;
        }

    }

    .cart-sidebar{
        height: 100vh;
    }
    .cart-container-wrapper{
        width: 75%;

        // width: 100%;
        // height: 150vh;
        // background-color: pink;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // position: relative;
    }

    .cart-price-card {
        position: sticky;
        top: 72px;
    }


    @media (min-width: 576px) {
        margin: 0 32px;

        .cart-container-wrapper{
            flex-direction: row;

            .cart-card-wrapper{
                // width: 70%;
            }
        }

    }
}

.cart-sidebar-wrapper{
    // position: fixed;
    // width: 250px;
    // top: 0;
    // left: 0%;
    // height: 250px;
    // background-color: pink;
}