.fpassword-wrapper {
  min-height: 50%;
  display: grid;
  place-items: center;
}

.fpassword-wrapper-container {
  width: 100%;

  h2 {
    text-align: center;
    padding-bottom: 8px;
  }

  @media (min-width: 576px) {
    width: 45%;
  }
}
