// /* COLORS */
$primary: #fecf00;
// $danger: #ff0000;
// $white: #fafaf9;
// $black: #171717;


/* TYPOGRAPHY */
$font-family-base: "Public Sans", Sans serif;

/* FORM INPUTS */
$input-bg: #f8f6f6;
$input-height: 30px;
// $input-border-color: transparent;
$input-border-radius: 8px;
$input-focus-box-shadow: none;

$input-border-color:  rgba(0, 0, 0, 0.541); 
// $input-border-width: 
$input-height-border: 40px;
// NAVBAR TOGGLER
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.5rem;
$navbar-toggler-focus-width: 0;
// $navbar-toggler-font-size:          $font-size-lg !default;
// $navbar-toggler-border-radius:      $btn-border-radius !default;
// $navbar-toggler-transition:         box-shadow .15s ease-in-out !default;

// Alert
$alert-padding-y: 8px;
// $alert-padding-x: $spacer !default;
// $alert-margin-bottom: 1rem !default;
// $alert-border-radius: $border-radius !default;
// $alert-link-font-weight: $font-weight-bold !default;
// $alert-border-width: $border-width !default;
// $alert-bg-scale: -80% !default;
// $alert-border-scale: -70% !default;
// $alert-color-scale: 40% !default;
// $alert-dismissible-padding-r: $alert-padding-x * 3 !default;
