// /* COLORS */
$primary: #fecf00;
// $danger: #ff0000;
// $white: #fafaf9;
// $black: #171717;

/* TYPOGRAPHY */
$font-family-base: "Public Sans", Sans serif;

/* FORM INPUTS */
$input-bg: #f2f2f2;
$input-border-color: transparent;
$input-border-radius: 8px;
$input-focus-box-shadow: none;
