// /* COLORS */
$primary: #fecf00;
// $danger: #ff0000;
// $white: #fafaf9;
// $black: #171717;

/* TYPOGRAPHY */
$font-family-base: "Public Sans", Sans serif;

/* FORM INPUTS */
$input-bg: #f2f2f2;
$input-border-color: transparent;
$input-border-radius: 8px;
$input-focus-box-shadow: none;

// NAVBAR TOGGLER
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.5rem;
$navbar-toggler-focus-width: 0;
// $navbar-toggler-font-size:          $font-size-lg !default;
// $navbar-toggler-border-radius:      $btn-border-radius !default;
// $navbar-toggler-transition:         box-shadow .15s ease-in-out !default;
