.carousel_header {

  // max-width: 1300px;
  height: 235px;
  // margin: 0 -16px;
  margin-bottom: 24px;
  // position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("../../assets/images/headerImage/background_mobile.jpg");

  @media (min-width: 576px) {

    //  margin: 0 -32px;
    
    margin-bottom: 40px;
    background: url("../../assets/images/headerImage/background.jpg");
    height: 350px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    background-repeat: no-repeat;
    
  }

 
}



.billboard_ad{
  background: url("../../assets/images/headerImage/billboard-mobile1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
 
  .carousel_info {color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.32); padding: 8px; border-radius: 10px;}

  


  @media (min-width: 576px) {
    background: url("../../assets/images/headerImage/billboard-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
      background-attachment: fixed;
    .carousel_info {color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.68); padding: 8px; border-radius: 10px;}

    // width: 100vw;

  // background-position: left;
  }
}

.services_ad{
  background: url("../../assets/images/headerImage/worker-mobile.jpg");
  background-size: cover;

  

  .carousel_info {color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.68); padding: 8px; border-radius: 10px;}
  @media (min-width: 576px) {
    background: url("../../assets/images/headerImage/workers-desktop.jpg");
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
      background-attachment: fixed;
  .carousel_info {color: black; background-color: transparent;}
  }
}

.carousel_info {
  
  margin-top: 32px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  width: 45%;
  margin-left: 16px;

  button {
    font-size: 12px;
  }

  animation: c_info 1.5s ease-in running;

  @keyframes c_info {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  @media (min-width: 576px) {
    margin-top: 40px;
    font-size: 32px;
    margin-left: 32px;
    width: 30%;
    min-width: 233px;

    button {
      width: 50%;
      font-size: 18px;
    }
  }
}

.intro_section {
  display: flex;
  justify-content: center;
}
.intro_section_paragraphs {
  text-align: center;
  margin-bottom: 12px;
  font-size: 12px;
  margin-bottom: calc(8px * 5);

  h1 {
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 8px;
  }
  p {
    opacity: 0.7;
  }
  @media (min-width: 576px) {
    width: 60%;
    margin-bottom: calc(8px * 10);

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

.testimonialTitle{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: #828282;
}

.info_cards {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 32px;

  .info_card {
    margin-right: 16px;
    display: grid;
    place-items: center;
    width: 93px;
    height: 60px;

    h2 {
      font-size: 12px;
      font-weight: 700;
    }

    p {
      opacity: 0.7;
    }

    @media (min-width: 576px) {
      min-width: 250px;
      padding: 12px;
      height: 140px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);

      h2 {
        font-size: 18px;
        font-weight: 700;
      }
    }

    @media (min-width: 1020px) {
      min-width: 300px;
      padding: 12px;
      height: 140px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);

      h2 {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

.section-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff1b7;
  // width: 100%;
  height: 30px;
  // margin: 0 -14px;
  padding: 0 12px;
  margin-bottom: 16px;

  p {
    font-weight: 700;
    margin: 0;
    font-size: 14px;
  }
  a {
    font-size: 10px;
    color: black;
  }

  @media (min-width: 576px) {
    margin-bottom: 32px;
    // padding: 0 32px;
    height: 70px;

    p {
      font-size: 24px;
      font-weight: 700;
    }
    a {
      font-size: 16px;
    }
  }
}

.rowball {
  margin: 0;
  width: 100%;
}

.box,
.boxTwo {
  // width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

   @media (min-width: 800px) {
    height: 300px;

   }

  &:hover {
    &::before {
      background-color: rgba(0, 0, 0, 0.349);
      content: "";
      width: 100%;
      height: 100%;
      padding: 0;
      // margin: 0 -12px;
    }
  }
}

.productCategory {
  margin-bottom: 30px;
  // min-width: 1000px;

  // @media (min-width: 576px) {
  //     display: none;
  // }
}

.box:nth-child(1) {
  background: url("../../assets/images/productcategory/aluminium.svg");
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center center;
      // background-attachment: fixed;
  
  padding: 0;
}

.box:nth-child(2) {
  background: url("../../assets/images/productcategory/stainless.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  padding: 0;
}

.box:nth-child(3) {
  background: url("../../assets/images/productcategory/shutter.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  padding: 0;
}

.boxTwo:nth-child(1) {
  background: url("../../assets/images/productcategory/meta.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  padding: 0;
}

.boxTwo:nth-child(2) {
  background: url("../../assets/images/productcategory/sheds.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  padding: 0;
}

.boxTwo:nth-child(3) {
  background: url("../../assets/images/productcategory/furnitures.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  padding: 0;
}

.top-deals-products {
  margin: 0 auto;

  // background-color: pink;
  // min-width: 1300px;

  // overflow-x: hidden;
  // margin: 0 auto;
  // scroll-snap-type: x mandatory;
  // position: relative;

  // .next,
  // .prev {
  //   cursor: pointer;
  //   position: absolute;
  //   top: 50%;
  //   width: auto;
  //   padding: 16px;
  //   margin-top: -22px;
  //   color: white;
  //   font-weight: bold;
  //   font-size: 18px;
  //   transition: 0.6s ease;
  //   border-radius: 0 3px 3px 0;
  //   user-select: none;
  // }

  // .next {
  //   right: 0;
  // }
  // .prev {
  // }
  // background-color: green;
  // padding-right: -36px;
  overflow: hidden;
}

// .slick-slider {
//   overflow: hidden;
// }
.slide-container {
  width: 98%;
  // margin: 0 auto;
  // overflow-x: hidden;
  // background-color: pink;
  margin-left: 4px;

  // scroll-behaviour: smooth;
  // user-select: none;
  // min-width: 100px;
  @media (max-width: 576px) {
    width: 100%;
    overflow: hidden;
    // scroll-snap-stop: always;
    margin: 0 auto;
    // margin-left: 0;
  }
}

.pro_card{
 

  @media (min-width: 576px) {
    width: 100%;
    background-color: #F8F8F8;
    padding: 8px;
  }
}


.top-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 8px;



  @media (min-width: 850px) {
    padding-left: 16px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1070px) {
    padding-left: 16px;
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1250px) {
    margin-left: 16px;
    // margin-right: 16px;
    grid-template-columns: repeat(5, 1fr);
  }
}
