.card-link{
    color: blue;
}

.fw-lighter{
    font-size: 15px;
}

.fw-bold{
    margin-bottom:20px;
    margin-top: 10px;
}
.text-uppercase{
    margin-bottom:60px;
}
.fw-lighter{
    margin-top: 25px;
    margin-bottom: 25px;
}
.fw-bolder{
    margin-top: 25px;
    margin-bottom: 25px;

}