.policy{
    padding-left: 20px;
    padding-right: 20px;


}
.card-link{
    color: blue;
}

.fw-lighter{
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.fw-bold{
    margin-bottom:20px;
    margin-top: 10px;
}
.text-uppercase{ 
    margin-bottom:60px;
}

.fw-bolder{
    margin-top: 25px;
    margin-bottom: 25px;

}

// @media only screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {
//     .policy{
//         padding-left: 70%;
//         padding-right: 70%;
//     }
    
// }
// @media (min-width: 576px) {
//     .policy{
//     margin-top: 40px;
//     font-size: 18px;
//     margin-left: 32px;
//     width: 30%;
//     min-width: 233px;
//     }
// }

// @media (min-width: 1020px) {
//     .policy{
//     min-width: 300px;
//     padding: 12px;
//     height: 140px;
//     border-radius: 8px;
   
//     }
// }