.topdeals-card {
  width: 290px;
  margin-bottom: 32px;
  margin-right: 24px;

  .topdeals-card-image-wrapper {
    p {
      padding: 0;
      margin: 0;
    }
  }
  .topdeals-card-image {
    width: 290px;
  }
}
