.testimonial{
    width: 100%;
}

.cardo{
    transition: 2s linear ease;
    border-radius: 16px;
}

.cardo:hover{
    transform: scale(1.05);
    background-color: pink;
    background: rgba(74, 91, 2, 0.16);
    
}