

.checkout_wrapper{

   
    
    .thumb{
        
        img{
            height: 120px;
            width: 120px;
        }
        
    }
    
   
    
    .h3{
        font-weight: 300;
        font-size: 18px;
    }
    
    .span{
        font-weight: 700;
    }

    .btn{
        margin-bottom: 46px;
    }
}