.searchpage-wrapper{
    min-height: 50vh;

    h4{
        font-size: 16px;
    }

    .search-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // justify-content: space-around;
        margin: 0 16px;
        margin-top: 24px;
        margin-bottom: 32px;
      
        @media (min-width: 576px) {
          grid-template-columns: repeat(4, 1fr);
          margin: 0 24px;

        }
    }
}

