.services-card {
  width: 150px;
  margin-bottom: 16px;
  p {
    font-size: 12px;
  }
  

   

  @media (min-width: 576px) {
    min-height: 313px;
    width: 290px;
    margin-bottom: 32px;

    p {
      font-size: 16px;
    }

    .services-card-image {
      width: 290px;
    }
  }
}
