.services-card {
  width: 150px;
  margin-bottom: 16px;
  p {
    font-size: 12px;
  }

  .product-description p {
     
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  

   

  @media (min-width: 576px) {
    min-height: 313px;
    width: 250px;
    margin-bottom: 32px;

    p {
      font-size: 16px;
    }

    .services-card-image {
      width: 250px;
    }
  }
}
