@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

@import "./styles/_variables";
@import "./styles/_typography";
@import "./styles/breakpoint";

html,
body {
  font-size: 0.9rem;
  line-height: 1.3rem;

  @media (min-width: $sm-breakpoint) {
    max-width: 1440px;
    min-width: 760px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

label {
  font-size: 0.9rem;
}

@import "../node_modules/bootstrap/scss/bootstrap";
