.notFound {
  display: grid;
  place-items: center;
}
.notFound {
  /* Mobile screens would use these styles   */

 background-color : rgb(252, 247, 248);
 width: 100%;

 @media ( min-width: 576px ){
   /* Screens with width 576px and above will have these styles, tablets, laptops, desktops */

 background-color: rgb(253, 253, 253);
 width: 50%;
}

}   
